# Environment & Secret files
.env
*.env
service-account-key.json
*.json.key

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db
